<h3>Cart. 
  {{cart.totalQuantity ? 'Total quantity:' + cart.totalQuantity : ''}}
  {{cart.totalPrice ? 'Total price:' + cart.totalPrice + '$' : ''}}</h3>
<div *ngIf="cart.totalPrice > 0; else Empty">
  <shop-cartItemComponent *ngFor="let product of getProducts()" 
    (removeProduct)="onRemoveProduct($event)"
    (quantityIncrease)="onQuantityIncrease($event)"
    (quantityDecrease)="onQuantityDecrease($event)"
    [product]=product
    [quantity]=product.count>
  </shop-cartItemComponent>
</div>
<ng-template #Empty>Cart is Empty</ng-template>