<h3>Cart. 
  {{totalQuantity ? 'Total quantity:' + totalQuantity : ''}}
  {{totalCost ? 'Total price:' + totalCost + '$' : ''}}</h3>
<div *ngIf="!isEmpty(); else Empty">
  <div class="section">
    <div>Sort by:</div>
    <select (change)="onChangeSortOption($event)">
      <option *ngFor="let sortOption of sortOptions['sortCases']">{{sortOption}}</option>
    </select>
  </div>
  <div class="section">
    <div>Sort reverse</div>
    <input type="checkbox" (change)="onChangeSortAsc($event)">
  </div>
  <shop-cartItemComponent *ngFor="let product of getProducts() | async | orderByPipe:[sortOptions['selectedSort']]:sortOptions.isAsc" 
    (removeProduct)="onRemoveProduct($event)"
    (quantityIncrease)="onQuantityIncrease($event)"
    (quantityDecrease)="onQuantityDecrease($event)"
    [product]=product
    [quantity]=product.count>
  </shop-cartItemComponent>
</div>
<ng-template #Empty>Cart is Empty</ng-template>